<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/DELL/IdeaProjects/harika_project">
    <classes>
        <class name="Runner.SignUPUP"/>
        <class name="Runner.SigININ"/>
        <class name="Runner.ShopSP"/>
        <class name="Runner.CartCR"/>
        <class name="Runner.FeatureFL"/>
        <class name="pages.featured"/>

    </classes>
    </test>
</suite>


